# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Next.js
.next/
node_modules/

# Maven / Gradle build folder
target/

# Compiled class files
*.class

# IntelliJ
.idea/
*.iml

# Logs
*.log

